.large { font-size: 160% }

.title-slide .remark-slide-number {
    display: none;
}

.remark-slide-number {
    display: none;
}

#newsroom-hacking {
    margin-bottom: 0px;
}

#how-data-journalism-was-bootstrapped-at-renascen-a{
    margin-top: 0px;
}

div.my-footer {
    background-color: #0074ff;
        position: absolute;
    bottom: 0px;
    left: 0px;
    height: 20px;
    width: 100%;
}
div.my-footer span {
    font-size: 10pt;
    color: #F7F8FA;
        position: absolute;
    left: 15px;
    bottom: 2px;
}

iframe {
    width:100%;
    height:600px;
}

#flag {
    font-size:200px;
    margin-bottom:0;
}

.inverse {
    background-color:rgb(151,220,223);
}




